<div class = "action-buttons">
    <div class="action-box-element">
        @for (btn of interface_actions; track $index) {
            @if (btn.type == 'move') {   
                @switch(btn.status)  {
                    @case (1) {
                        <button class="mat-button"
                        mat-raised-button color="primary"  (mousedown)="btn.action()" (mouseup)="btn.action_up()" style="border-color: yellow;">
                        {{btn.description}}
                        </button>
                    }
                    @case (-1) {
                        <button class="mat-button"
                        mat-raised-button color="primary"  (mousedown)="btn.action()" (mouseup)="btn.action_up()" style="border-color: red;">
                        {{btn.description}}
                        </button>
                    }
                    @case (2) {
                        <button class="mat-button"
                        mat-raised-button color="primary"  (mousedown)="btn.action()" (mouseup)="btn.action_up()" style="border-color: green;">
                        {{btn.description}}
                        </button>
                    }

                    @default {
                        <button class="mat-button"
                        mat-raised-button color="primary"  (mousedown)="btn.action()" (mouseup)="btn.action_up()" >
                        {{btn.description}}
                        </button>
                    }

                }
                
            }
            @if (btn.type == 'fiducial') {   
                @switch(btn.status)  {
                    @case (1) {
                        <button class="mat-button"
                        mat-raised-button color="primary"  (mousedown)="btn.action()" (mouseup)="btn.action_up()" style="border-color: yellow;">
                        {{btn.description}}
                        </button>
                    }
                    @case (-1) {
                        <button class="mat-button"
                        mat-raised-button color="primary"  (mousedown)="btn.action()" (mouseup)="btn.action_up()" style="border-color: red;">
                        {{btn.description}}
                        </button>
                    }
                    @case (2) {
                        <button class="mat-button"
                        mat-raised-button color="primary"  (mousedown)="btn.action()" (mouseup)="btn.action_up()" style="border-color: green;">
                        {{btn.description}}
                        </button>
                    }

                    @default {
                        <button class="mat-button"
                        mat-raised-button color="primary"  (mousedown)="btn.action()" (mouseup)="btn.action_up()" >
                        {{btn.description}}
                        </button>
                    }

                }
                
            }
        }
        <button class="mat-button"
            mat-raised-button color="primary"  (mousedown)="request_abort()" style="border-color: red;">
            Abort
        </button>
    </div>

</div>
