.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0px;
}
.container > div {
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

.move-box-element {
    width: 350px;
    height: 265px;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12),
    0px 1px 2px 0px rgba(0,0,0,0.24);
    overflow: auto;
    
  }

  .way-button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#666666;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:2px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }