.box-element {
    width: 350px;
    height: 175px;
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.12),
    0px 1px 2px 0px rgba(0,0,0,0.24);
    overflow: auto;
    
  }

  .item-element {
    text-align:left ;
    margin-left: 20px;
    margin-top: 5px;
    
    -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 20px;
  background: #4993b6;
  padding: 2px 20px 2px 20px;
  text-decoration: none;
  }

  .delete-button {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #fcfcfc;
  font-size: 20px;
  background: #d93434;
  padding: 2px 20px 2px 20px;
  text-decoration: none;
  
  }

    .delete-button:hover {
  background: #c55a5a;
  text-decoration: none;
  }





