<div class="dispensing-settings-setter">
    <div class="spalte">
    <div class="label-header">
        <label>
            {{label}}
        </label>
    </div>
    </div>
    <form>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>Z_PLANE</mat-label>
        <input matInput type="number" [value]="settings.Z_PLANE" (input)="onValueChange('Z_PLANE', $any($event.target).value)">
    </mat-form-field>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>SIZE_X</mat-label>
        <input matInput type="number" [value]="settings.SIZE_X" (input)="onValueChange('SIZE_X', $any($event.target).value)">
    </mat-form-field>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>SIZE_Y</mat-label>
        <input matInput type="number" [value]="settings.SIZE_Y" (input)="onValueChange('SIZE_Y', $any($event.target).value)">
    </mat-form-field>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>X</mat-label>
        <input matInput type="number" [value]="settings.X" (input)="onValueChange('X', $any($event.target).value)">
    </mat-form-field>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>Y</mat-label>
        <input matInput type="number" [value]="settings.Y" (input)="onValueChange('Y', $any($event.target).value)">
    </mat-form-field>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>PRESSURE</mat-label>
        <input matInput type="number" [value]="settings.PRESSURE" (input)="onValueChange('PRESSURE', $any($event.target).value)">
    </mat-form-field>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>SPEED</mat-label>
        <input matInput type="number" [value]="settings.SPEED" (input)="onValueChange('SPEED', $any($event.target).value)">
    </mat-form-field>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>LOOPS</mat-label>
        <input matInput type="number" [value]="settings.LOOPS" (input)="onValueChange('LOOPS', $any($event.target).value)">
    </mat-form-field>
    <mat-form-field appearance="fill" style="display:block; margin-bottom:8px;">
        <mat-label>DWELL_TIME</mat-label>
        <input matInput type="number" step="0.01" [value]="settings.DWELL_TIME" (input)="onValueChange('DWELL_TIME', $any($event.target).value)">
    </mat-form-field>
    <button mat-raised-button color="primary" type="button" (click)="settingsChange.emit(settings)">
        Save Settings
    </button>
    </form>
</div>